{{!< layouts/layout}}

<section class='user'>
  <article class='user__header'>
    <a href='/admin/users'>
      <svg
        width='32'
        height='32'
        viewBox='0 0 32 32'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <g clip-path='url(#clip0_2401_2)'>
          <path
            d='M20.5465 22.12L14.4398 16L20.5465 9.88L18.6665 8L10.6665 16L18.6665 24L20.5465 22.12Z'
            fill='black'
          />
        </g>
        <defs>
          <clipPath id='clip0_2401_2'>
            <rect width='32' height='32' fill='white' />
          </clipPath>
        </defs>
      </svg>
    </a>
    <h2>Создать пользователя</h2>
  </article>
  <form action='/admin/user/create' method='POST' class='form__base'>
    <div class='base__field'>
      <label for='name'>Имя</label>
      <input type='text' name='name' id='name' required />
    </div>

    <div class='base__field'>
      <label for='email'>Email</label>
      <input type='email' name='email' id='email' required />
    </div>

    <div class='base__field'>
      <label for='role'>Роль</label>
      <select name='role' id='role' required>
        <option value='user'>Пользователь</option>
        <option value='admin'>Администратор</option>
      </select>
    </div>

    <button type='submit' class='base__btn'>Создать</button>
  </form>
</section>