/* Основные стили для страницы */
body {
  background-color: #f7f8fa;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

:root {
  --primary-50: #eff6ff;
  --primary-600: #2563eb;
  --black: #000000;
  --white: #ffffff;
  --bg-main: #f7f8fa;
  --shadow-base: #606b800d;
  --shadow-success: #16a34a33;
  --shadow-error: #dc262633;
  --base-100: #dadee6;
  --base-300: #98a1b3;
  --base-400: #7a8499;
  --base-500: #606b80;
  --base-600: #475166;
  --success-50: #f0fdf4;
  --success-600: #16a34a;
  --success-700: #15803d;
  --success-alpha-50: #16a34a80;
  --error-50: #fef2f2;
  --error-600: #dc2626;
  --error-700: #b91c1c;
  --error-alpha-50: #dc262680;
}

.admin-content {
  flex: 1;
  padding: 2rem;
}

/*form base style*/
.form__base {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.base__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.base__field label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding-left: 0.75rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--base-500);
}
.base__field input,
.base__field select {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--base-100);
  box-shadow: 0px 1px 4px 0px var(--shadow-base);
  font-size: 0.6875rem;
  font-weight: 600;
  color: var(--base-400);
  line-height: 1.25rem;
  background-color: var(--white);
}
.base__btn {
  background-color: var(--primary-600);
  color: var(--primary-50);
  border-radius: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  outline: none;
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: center;
}

/* Alerts */
/* Общие стили алерта */
.alert {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  min-width: 16rem;
  padding: 0.25rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.alert p {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.alert-success {
  background-color: var(--success-50);
  color: var(--success-700);
  border: 1px solid var(--success-alpha-50);
  box-shadow: 0px 4px 6px 0px var(--shadow-success);
}
.alert-success svg path,
.alert-success svg defs,
.alert-success svg rect {
  fill: var(--success-600);
}
.alert-error {
  background-color: var(--error-50);
  color: var(--error-700);
  border: 1px solid var(--error-alpha-50);
  box-shadow: 0px 4px 6px 0px var(--shadow-error);
}
.alert-error svg path,
.alert-error svg defs,
.alert-error svg rect {
  fill: var(--error-600);
}
.alert__info {
  width: 1.5rem;
  height: 1.5rem;
}
/* Анимация исчезновения */
.alert.hide {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}
/* Кнопка закрытия */
.alert button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.alert button svg {
  width: 1rem;
  height: 1rem;
}

/*Sidebar admin*/
.admin-nav {
  width: 336px;
  background-color: var(--bg-main);
  box-shadow: 0 0 0 var(--black);
  border: 1px solid var(--base-100);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar__list {
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.sidebar__list li {
  border-radius: 0.25rem;
}
.sidebar__list li a {
  border-radius: 0.25rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
}
.sidebar__list li a svg path {
  fill: var(--black);
}
.sidebar__list li:hover {
  background-color: var(--primary-600);
}
.sidebar__list li:hover a {
  color: var(--white);
}
.sidebar__list li:hover a svg path {
  fill: var(--white);
}
.sidebar__list li a.active {
  background-color: var(--primary-600);
  color: var(--white);
}
.sidebar__list li a.active svg path {
  fill: var(--white);
}

/* Dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 0 var(--black);
  border: 1px solid var(--base-100);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  height: 100%;
}
.dashboard h2 {
  font-size: 1.5rem;
}

/*Users*/
.users {
  border: 1px solid var(--base-100);
  box-shadow: 0 0 0 var(--black);
  border-radius: 0.25rem;
  height: 100%;
}
.users__header {
  border-bottom: 1px solid var(--base-100);
  padding: 0 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.users__header h2 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--base-400);
}
.users__header a {
  text-decoration: none;
}
.users__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.users__list ol {
  display: grid;
  grid-template-columns: 7.5% 20% 30% 10% 32.5%;
  height: 3rem;
  padding: 0 1rem;
  align-items: center;
}
.users__list li {
  display: grid;
  grid-template-columns: 7.5% 20% 30% 10% 32.5%;
  background-color: var(--white);
  border-radius: 0.375rem;
  border: 1px solid var(--base-100);
  padding: 0.875rem 1rem;
  align-items: center;
}
.users__list li span {
  line-height: 166.67%;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--base-600);
}
.users__list ol span {
  line-height: 166.67%;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--base-600);
}
.users__list ol span:last-of-type {
  text-align: end;
}
.user__control {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}
.user__action {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--base-100);
  box-shadow: 0px 1px 4px 0px var(--shadow-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user__action svg path {
  fill: var(--base-300);
}

/* User */
.user {
  border: 1px solid var(--base-100);
  box-shadow: 0 0 0 var(--black);
  border-radius: 0.25rem;
  height: 100%;
}
.user__header {
  border-bottom: 1px solid var(--base-100);
  padding: 0 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__header a {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--base-100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user__header a svg {
  width: 20px;
  height: 20px;
}
.user__header a svg path {
  fill: var(--base-300);
}
.user__header h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--base-400);
}
