/* Основные стили для страницы */
body {
  background-color: #f7f8fa;
  width: 100%;
  height: 100vh;
  display: flex;
}
.admin-nav {
  width: 336px;
  background-color: #f7f8fa;
  box-shadow: 0 0 0 black;
  border: 1px solid #dadee6;
  padding: 1rem;
}

.admin-content {
  width: 100%;
  height: 100%;
}
