* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  padding: 20px;
}
button {
  all: unset;
  display: inline-block; /* Чтобы работали размеры */
  cursor: pointer; /* Вернуть курсор */
}
select {
  appearance: none; /* Убирает стандартный стиль */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
  cursor: pointer;
}
